<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.yangtao.mapper.EmployeeMapper">

  <!-- 查询使用 select标签
          id = 方法名
          resultType = 返回值类型
          标签内编写SQL语句
   -->
  <select id="selectEmployee" resultType="employee">
    SELECT emp_id empId,emp_name empName, emp_salary empSalary
    FROM t_emp
  </select>

  <!--    insert employee -->
  <insert id="insertEmployee"
    useGeneratedKeys="true"
    keyProperty="empId">
    INSERT INTO t_emp(emp_name, emp_salary) VALUES(#{empName}, #{empSalary})
  </insert>

  <update id="updateEmployee">
    UPDATE t_emp SET emp_name = #{empName}, emp_salary = #{empSalary} WHERE emp_id = #{empId}
  </update>

  <update id="updateEmployeeByMap">
    UPDATE t_emp SET emp_name = #{empName} WHERE emp_id = #{empId};
  </update>

  <select id="selectEmpNameAndMaxSalary" resultType="map">
    SELECT emp_name, emp_salary,
    (SELECT AVG(emp_salary) FROM t_emp)
    FROM t_emp
    WHERE emp_salary = (SELECT MAX(emp_salary) FROM t_emp)
  </select>

  <select id="listEmployee" resultType="employee">
    SELECT emp_name, emp_salary FROM t_emp
  </select>

  <resultMap id="employeeMap" type="employee">
    <id column="emp_id" property="empId"/>
    <result column="emp_name" property="empName"/>
    <result column="emp_salary" property="empSalary"/>
    <!--        <constructor></constructor>-->
    <!--        <discriminator javaType="">-->
    <!--            <case value=""></case>-->
    <!--        </discriminator>-->
    <!--        <association property=""-->
    <!--        <collection property=""-->
  </resultMap>


  <select id="selectEmployeeByRMResultMap" resultMap="employeeMap">
    SELECT emp_id, emp_name, emp_salary FROM t_emp
    WHERE emp_id = #{emp_id}
  </select>
</mapper>