<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.yangtao.mapper.EmployeeMapper">

    <!-- 查询使用 select标签
            id = 方法名
            resultType = 返回值类型
            标签内编写SQL语句
     -->
    <select id="selectEmployee" resultType="employee">
        SELECT emp_id empId,emp_name empName, emp_salary empSalary
        FROM t_emp
        WHERE emp_id = #{empId}
    </select>

<!--    insert employee -->
    <insert id="insertEmployee">
        INSERT INTO t_emp(emp_name, emp_salary) VALUES(#{empName}, #{empSalary})
    </insert>

    <update id="updateEmployee">
        UPDATE t_emp SET emp_name = #{empName}, emp_salary = #{empSalary} WHERE emp_id = #{empId}
    </update>

    <update id="updateEmployeeByMap">
        UPDATE t_emp SET emp_name = #{empName} WHERE emp_id = #{empId};
    </update>

    <select id="selectEmpNameAndMaxSalary" resultType="map">
        SELECT emp_name, emp_salary,
            (SELECT AVG(emp_salary) FROM t_emp)
        FROM t_emp
        WHERE emp_salary = (SELECT MAX(emp_salary) FROM t_emp)
    </select>
    
    <select id="listEmployee" resultType="employee">
        SELECT emp_name, emp_salary FROM t_emp
    </select>

    <resultMap id="employeeMap" type="employee">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <result column="emp_salary" property="empSalary"/>
    </resultMap>

    <select id="selectEmployeeByRMResultMap" resultMap="employeeMap">
        SELECT emp_id, emp_name, emp_salary FROM t_emp
        WHERE emp_id = #{emp_id}
    </select>

    <resultMap id="orderMap" type="order">
        <id column="order_id" property="orderId"/>
        <result column="order_name" property="orderName"/>

<!--        配置-->
        <association property="customer" javaType="customer">
            <id column="customer_id" property="customerId"/>
            <result column="customer_name" property="customerName"/>
        </association>
    </resultMap>

    <select id="selectOrderWithCustomer" resultMap="orderMap">
        SELECT o.order_id, o.order_name, c.customer_id, c.customer_name
        FROM t_order o
        INNER JOIN t_customer c
        ON o.customer_id = c.customer_id
        WHERE o.order_id = #{orderId}
    </select>

    <resultMap id="customerMap" type="customer">
        <id column="customer_id" property="customerId"/>
        <result column="customer_name" property="customerName"/>
        <collection property="orderList" ofType="order">
            <id column="order_id" property="orderId"/>
            <result column="order_name" property="orderName"/>
        </collection>
    </resultMap>

    <select id="selectCustomerWithOrder" resultMap="customerMap">
        SELECT o.order_id, o.order_name, c.customer_id, c.customer_name
        FROM t_customer c
        INNER JOIN t_order o
        ON o.customer_id = c.customer_id
        WHERE c.customer_id = #{customerId}
    </select>
</mapper>